body{
	min-height: 100vh;
	font-family: 'Jost', sans-serif;
	background: linear-gradient(to bottom, #0c1729, #2b3963, #24333e);
}

.main_page{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
}